{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  {% if not debug %}
  {% include 'igis_udm/google_analitics.html' %}
  {% endif %}
  <title>{% block title %}Удмуртия. Запись на прием к врачу.{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{% block meta_keywords %}Удмуртия, запись на прием к врачу{% endblock %}">
  <meta name="description" content="{% block meta_description %}Удмуртия. Запись на прием к врачу.{% endblock %}">
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  {% block header_custom_css %}{% endblock %}
  {% block header_custom_js %}{% endblock %}
</head>
<body class="w3-light-grey">
<!--Navigation-->
{% block page_navigation %}{% endblock page_navigation %}
<!--end of navigation-->

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
{% block page_container %}{% endblock page_container %}
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>
    <a href="{% url 'contacts' %}" target="_blank">Контакты</a>
  </p>
  <p>Работает на
    <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" rel="external">w3.css</a>
    и
    <a href="https://www.djangoproject.com/" target="_blank" rel="external">Django</a>
  </p>
</footer>
{% block bottom_custom_js %}{% endblock %}
</body>
</html>