{% if debug %}
    <div style="height:100px;background-color:maroon;">
    </div>
{% else %}
    <div style="height:100px;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- right column adv block (conoto) -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4042588755149706"
             data-ad-slot="6843530991"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endif %}