{% extends 'igis_udm/base.html' %}
{% load staticfiles %}

{% block title %}Отправьте письмо с Вашими пожеланиями, замечаниями и предлжениями{% endblock %}

{% block page_container %}
    <div class="row" id="main">
        <div class="col-md-6 col-md-offset-3">
            <br />
            <div class="panel panel-default">
                <div class="panel-body item_panel">
                    <h3 style="text-align:center">Чтобы послать письмо, заполните форму</h3>
                    <form id="contact_form" action="{% url 'contacts' %}" method="post" autocomplete="off" novalidate="">
                        {% csrf_token %}
                        <div class="form-group">
                        {{ form }}
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">Отправить</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="reset">Очистить</button>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </div><!-- col-md-12 -->
    </div><!-- row -->
{% endblock page_container %}