{% extends 'igis_udm/base.html' %}
{% load staticfiles %}

{% block title %}Отправьте письмо с Вашими пожеланиями, замечаниями и предлжениями.{% endblock %}
{% block meta_keywords %}Удмуртия, запись к врачу, обратная связь.{% endblock %}
{% block meta_description %}Удмуртия. Сервис записи к врачу. Обратная связь.{% endblock meta_description %}

{% block header_custom_css %}
<style>
{% include 'igis_udm/my_css.css' %}
</style>
{% endblock %}



{% block page_container %}

<div class="w3-row">
    <div class="w3-card-4 w3-content" style="max-width:600px;">
        <div class="w3-container w3-teal">
            <h2>Заполните все поля.</h2>
        </div>
        <form class="w3-container" action="{% url 'contacts' %}" method="post" autocomplete="off" novalidate="">
            {% csrf_token %}
            {% if form.non_field_errors %}
            {% for error in form.email.errors %}
            <p class="form_error">
                {{ error }}
            </p>
            {% endfor %}
            {% endif %}
            <p>
                <label for="{{ form.email.id_for_label }}" class="w3-text-teal"><b>Адрес: </b>{% if form.email.errors %}
                                                                                              {% for error in form.email.errors %}
                                                                                               <span class="form_error">
                                                                                                   {{ error }}
                                                                                               </span>
                                                                                              {% endfor %}
                                                                                              {% endif %}</label>
                <input class="w3-input w3-border w3-theme-l5" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" value="{{ form.email.value|default_if_none:'' }}" type="text" placeholder="Ваш email адрес"{% if form.email.errors %} style="border-color:red !important;"{% endif %}>
            </p>
            <p>
                <label for="{{ form.subject.id_for_label }}" class="w3-text-teal"><b>Тема: </b>{% if form.subject.errors %}
                                                                                              {% for error in form.subject.errors %}
                                                                                               <span class="form_error">
                                                                                                   {{ error }}
                                                                                               </span>
                                                                                              {% endfor %}
                                                                                              {% endif %}</label>
                <input class="w3-input w3-border w3-theme-l5" id="{{ form.subject.id_for_label }}" name="{{ form.subject.html_name }}" value="{{ form.subject.value|default_if_none:'' }}" type="text" placeholder="Тема письма"{% if form.subject.errors %} style="border-color:red !important;"{% endif %}>
            </p>
            <p>
                <label for="{{ form.message.id_for_label }}" class="w3-text-teal"><b>Письмо: </b>{% if form.message.errors %}
                                                                                              {% for error in form.message.errors %}
                                                                                               <span class="form_error">
                                                                                                   {{ error }}
                                                                                               </span>
                                                                                              {% endfor %}
                                                                                              {% endif %}</label>
                <textarea class="w3-input w3-border w3-theme-l5" id="{{ form.message.id_for_label }}" name="{{ form.message.html_name }}" style="resize:none;{% if form.message.errors %}border-color:red !important;{% endif %}">{{ form.message.value|default_if_none:'' }}</textarea>
            </p>
            <p>
                <button class="w3-btn w3-teal" type="submit">Отправить</button>
            </p>
        </form>
    </div>
</div>

{% endblock page_container %}