{% extends 'igis_udm/base.html' %}
{% load staticfiles %}

{% block title %}Спасибо за Ваше сообщение.{% endblock %}
{% block meta_keywords %}Удмуртия, запись к врачу, обратная связь, письмо отправлено{% endblock %}
{% block meta_description %}Удмуртия. Сервис записи к врачу. Обратная связь. Письмо отправлено.{% endblock meta_description %}

{% block header_custom_css %}
<style>
{% include 'igis_udm/my_css.css' %}
</style>
{% endblock %}



{% block page_container %}

<div class="w3-row">
    <div class="w3-card-4 w3-content" style="max-width:600px;">
        <div class="w3-container w3-teal">
            <h2>Письмо отправлено.</h2>
            <p>
                Спасибо за обращение. Если это будет возможно и необходимо мы постараемся ответить.
            </p>
            <hr>
            <p>
                <a href="{% url 'place_list' %}" title="Выберите город или район Удмуртии для записи к врачу.">Выбрать город или район Удмуртии.</a>
            </p>
        </div>
    </div>
</div>

{% endblock page_container %}