{% extends "igis_udm/base.html" %}

{% block title %}{{ hospital.name }}. Запись к врачу.{% endblock title %}
{% block meta_keywords %}{{ hospital.name }}, запись к врачу.{% endblock %}
{% block meta_description %}Удмуртия. {{ hospital.name }}. Запись на прием к врачу.{% endblock meta_description %}

{% block header_custom_css %}
<style>
{% include 'igis_udm/modal_img_hospital_detail.css' %}
{% include 'igis_udm/my_css.css' %}
</style>
{% endblock %}
{% block header_custom_js %}
{% endblock %}

{% block page_navigation %}
{% endblock page_navigation %}

{% block page_container %}
<div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-col l4 m6 s12">
        <div class="w3-display-container" style="height:120px;">
            <div class="w3-display-middle" style="height:100px;width:320px">
                <!-- Top advs block -->
                {% include 'igis_udm/top_adv_block.html' %}
                <!-- end of top advs -->
            </div>
        </div>
        {% block left_column %}
        <div class="w3-card-2 w3-white">
            <div class="w3-container w3-cell-row w3-padding {% if my_user %} w3-green{% else %} w3-teal{% endif %}">
                {% if my_user %}
                <div class="w3-cell">
                    <h4 id="patient_fio">{{ my_user.f }} {{ my_user.i }} {{ my_user.o }}</h4>
                    <div id="uch_ther" class="w3-small">{% if my_user.uch %}Терапевтический участок: {{ my_user.uch }}{% else %}&#8203; {% endif %}</div>
                    <div id="uch_gin" class="w3-small">{% if my_user.guch %}Гинекологический участок: {{ my_user.guch }}{% else %}&#8203; {% endif %}</div>
                </div>
                {% else %}
                <div class="w3-cell" style="width:100%;">
                    <h4 id="patient_fio">&#8203; </h4>
                    <div id="uch_ther" class="w3-small">&#8203; </div>
                    <div id="uch_gin" class="w3-small">&#8203; </div>
                </div>
                {% endif %}
                <div class="w3-cell w3-cell-middle">
                    <button id="login_button" class="w3-btn w3-theme-d5 w3-round-large">{% if my_user %}Выйти{% else %}Авторизация{% endif %}</button>
                </div>
            </div>

            <div id="zapisi" class="w3-container w3-margin-bottom w3-green{% if not sign_items %} w3-hide{% endif %}">
                <h5 class="w3-tag w3-round w3-theme-d3">Ваши записи &darr;&darr;&darr;</h5>
                <div id="zapisi_items">
                    {% for item in sign_items %}
                    <div class="w3-panel w3-border w3-round">
                        <div class="w3-cell-row w3-section">
                            <div class="w3-cell">
                                <div class="">{{ item.sign_specialist_name }}</div>
                                <div class="">{{ item.sign_specialist_role }}</div>
                                <div class="w3-red w3-tag w3-round">{{ item.sign_date }} -- {{ item.sign_time }}</div>
                            </div>
                            <div class="w3-cell w3-cell-middle">
                                <button class="w3-btn w3-teal w3-round" data-id="{{ item.id }}" data-date="{{ item.date }}" data-time="{{ item.time }}" onclick="sign_out(this)">Отменить</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <div class="w3-border-bottom w3-display-container">
                <div class="w3-cell-row w3-margin-bottom">
                    <h6 class="w3-text-grey w3-padding-small w3-cell w3-cell-middle w3-border-right"><a href="{{ hospital.place.get_absolute_url }}">{{ hospital.place.name }}</a></h6>
                    <div class="w3-text-grey w3-padding-small w3-cell">
                        <h6>{{ hospital.name }}</h6>
                        <div><a href="#" onclick="toggle_class('hospital_info', 'w3-hide')">Адрес, т/ф, сайт больницы</span></a></div>
                    </div>
                </div>
                <div id="hospital_info" class="w3-container w3-hide">
                    <div class="w3-row">
                        <div class="w3-third w3-center w3-border-right w3-border-left">
                            <img id="myImg" width="200" src="{{ hospital.image.url }}" class="w3-image" title="{{ hospital.name }}" alt="{{ hospital.name }}">
                            <br>
                            <!-- The Modal -->
                            <div id="myModal" class="modal">
                                <!-- The Close Button -->
                                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                <!-- Modal Content (The Image) -->
                                <img class="modal-content" id="img01">
                            </div>
                        </div>
                        <div class="w3-twothird w3-padding">
                            <p>{{ hospital.address }}</p>
                            <p>{{ hospital.phone }}</p>
                            <p><a href="{{ hospital.site_url }}" target="_blank">{{ hospital.site_url }}</a></p>
                            <p>{{ hospital.email }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-container">
                <p>
                    <a href="{% url 'place_list' %}"  class="w3-text-grey">Выбрать город или район</a>
                </p>
            </div>
        </div>

        {% endblock left_column %}
        <!-- End Left Column -->
    </div>
    <!-- End of Left Column -->

    <!-- Right Column -->
    {% block right_column %}
    <div class="w3-col l8 m6 s12">
        <div class="w3-white w3-text-grey w3-card-4">
            <div>
                <div>
                    <div class="w3-row w3-teal">
                        <div class="w3-third w3-hide-small w3-padding" onclick="sortHTML('person_list', '.person_item', '.person_fio')" style="cursor:pointer">
                            <p title="Фамилия врача. Упорядочить список фамилий по алфавиту в прямом или обратном порядке.">Ф.И.О.&nbsp;&#8645;</p>
                        </div>
                        <div class="w3-third  w3-hide-small w3-padding" onclick="sortHTML('person_list', '.person_item', '.person_speciality')" style="cursor:pointer">
                            <p title="Специальность врача. Упорядочить список специальностей по алфавиту в прямом или обратном порядке.">Специальность&nbsp;&#8645;</p>
                        </div>
                        <div class="w3-container w3-third">
                            <p title="Сортировка списка по фамилии или специальности. Начните вводить фамилию или специальность врача.">
                                <input id="filter_input" oninput="filterHTML('person_list', 'person_item', 'search_item', this.value)"
                                       class="w3-input w3-border w3-round" placeholder="Фамилия или специальность"></p>
                        </div>
                    </div>
                    <div id="person_list">
                        {% for person in persons %}
                            <div data-id="{{ person.person_id }}" data-fio="{{ person.fio }}" data-speciality="{{ person.speciality }}" class="person_item  w3-border-bottom w3-border-blue">
                                <div class="w3-row w3-padding person-info">
                                    <div class="w3-col l4 m12 s12">
                                        <div class="search_item person_fio">
                                            {{ person.fio }}
                                        </div>
                                    </div>
                                    <div class="w3-col l6 m12 s12">
                                        <div class="search_item person_speciality">{{ person.speciality }} {% if person.uch %}(Участки: {{ person.uch }}){% endif %}</div>
                                        {% for item in person.info %}
                                            <div class="w3-small">{{ item }}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="w3-col l2 m12 s12 w3-center">
                                        <button class="w3-button w3-border w3-padding-small w3-round nomerki">Номерки</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock right_column %}
    <!-- End Right Column -->
</div>

<div id="modal_auth" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <header class="w3-container w3-teal">
            <span onclick="closeAuthForm()" class="w3-button w3-display-topright">&times;</span>
            <h2>Авторизация</h2>
        </header>
        <div class="w3-container">
            <form onsubmit="return ajax_login()" class="w3-margin-bottom" method="post" name="login" autocomplete="on">
                {% csrf_token %}
                <div id="auth-errors-list" class="w3-panel w3-round w3-red w3-padding" style="display:none;"></div>
                <p>
                    <label for="{{ login_form.name.id_for_label }}" class="w3-text-grey">{{ login_form.name.label }}</label>
                    {{ login_form.name }}
                </p>
                <p>
                    <label for="{{ login_form.polis.id_for_label }}" class="w3-text-grey">{{ login_form.polis.label }}</label>
                    {{ login_form.polis }}
                </p>
                <div class="w3-row">
                    <div class="w3-twothird">
                       <button class="w3-button w3-block w3-theme-d3 w3-round" type="submit">Авторизация</button>
                    </div>
                    <div class="w3-third" style="padding-left:16px">
                       <button class="w3-button w3-block w3-theme-d1 w3-round" type="reset">Очистить</button>
                    </div>
                </div>
            </form>
        </div>
        <footer class="w3-container w3-teal">
            <p>Ваши ФИО и номер медполиса должны быть в базе данных регистратуры</p>
        </footer>
    </div>
</div>
<div id="success_modal_container" class="w3-modal">
    <div id="success_modal_content" class="w3-modal-content w3-card-4 w3-animate-zoom" style="display:none;">
        <header class="w3-container w3-green">
            <span onclick="closeSuccessAuth()" class="w3-button w3-display-topright">&times;</span>
            <h2>Авторизация успешна</h2>
        </header>
        <div class="w3-container">
            <h2 id="success_fio"></h2>
            <div class="w3-panel"><button class="w3-button w3-theme-d3 w3-round" onclick="closeSuccessAuth()">Продолжить</button></div>
        </div>
        <div class="w3-container w3-teal">
            <p>Не забудьте выйти по окончании работы. Спасибо.</p>
        </div>
    </div>
</div>
<div id="signin_modal_container" class="w3-modal">
    <div id="signin_modal_content" class="w3-modal-content w3-card-4 w3-animate-zoom w3-round-xlarge w3-theme-d2 w3-border-lightgrey w3-border" style="max-width:600px">
        <div class="w3-container w3-cell-row">
            <div id="signin_error_container" class="w3-cell-row w3-border-bottom w3-border-theme" style="display:none;">
                    <div id="signin_error_content" class="w3-panel w3-red w3-round"></div>
            </div>
            <div class="w3-cell-row w3-border-bottom w3-border-theme">
                <div class="w3-cell w3-cell-middle" style="width:50%">
                    <div>СПЕЦИАЛЬНОСТЬ</div>
                </div>
                <div class="w3-cell" style="width:50%">
                    <h4 id="signin_speciality"></h4>
                </div>
            </div>
            <div class="w3-cell-row w3-border-bottom w3-border-theme">
                <div class="w3-cell w3-cell-middle" style="width:50%">
                    <div>СПЕЦИАЛИСТ</div>
                </div>
                <div class="w3-cell w3-cell-middle" style="width:50%">
                    <h4 id="signin_fio"></h4>
                </div>
            </div>
            <div class="w3-cell-row w3-border-bottom w3-border-theme">
                <div class="w3-cell w3-cell-middle" style="width:50%">
                    <div>ДАТА</div>
                </div>
                <div class="w3-cell w3-cell-middle" style="width:50%">
                    <h4 id="signin_date"></h4>
                </div>
            </div>
            <div class="w3-cell-row">
                <div class="w3-cell w3-cell-middle" style="width:50%">
                    <div>ВРЕМЯ</div>
                </div>
                <div class="w3-cell w3-cell-middle"  style="width:50%">
                    <h4 id="signin_time"></h4>
                </div>
            </div>
        </div>
        <div class="w3-cell-row" style="cursor:pointer;">
            <div class="w3-cell w3-cell-middle w3-hover-theme w3-border-lightgrey w3-border-top w3-border-right w3-center w3-padding-16"
                 style="border-bottom-left-radius: 16px;width:50%;"
                 onclick="sign_person_in()">
                ЗАПИСАТЬСЯ
            </div>
            <div class="w3-cell w3-cell-middle w3-hover-theme w3-border-lightgrey w3-border-top w3-center w3-padding-16"
                 style="border-bottom-right-radius: 16px;"
                 onclick="closeSignIn()">
                ОТМЕНИТЬ
            </div>
        </div>
    </div>
</div>
<div id="info_modal_container" class="w3-modal" {% if error %}style="display:block"{% endif %}>
    <div id="signin_modal_content" class="w3-modal-content w3-card-4 w3-animate-zoom w3-round-xlarge w3-red w3-border-lightgrey w3-border" style="max-width:600px">
        <div class="w3-container w3-cell-row">
            <h3 class="w3-cell-row w3-padding-16">
                Не удалось подключиться к серверу больницы!
            </h3>
            <p>
                Вы можете воспользоваться одним из этих сервисов:
            </p>
            <ul>
                <li><a href="https://igis.ru/online" target="_blank">Ижевская Гео-Информационная система</a></li>
                <li><a href="https://uslugi.udmurt.ru/Doctor" target="_blank">Государственные услуги Удмуртской Республики</a></li>
                <li><a href="https://www.gosuslugi.ru/10066/1" target="_blank">Гос услуги РФ - Удмуртия</a></li>
            </ul>
        </div>
        <div class="w3-cell-row" style="cursor:pointer;">
            <a href="{% url 'hospital' object.slug %}"
               class="w3-cell w3-cell-middle w3-hover-yellow w3-border-lightgrey w3-border-top w3-border-right w3-center w3-padding-16"
               style="border-bottom-left-radius: 16px;">
                ПОПРОБОВАТЬ ЗАГРУЗИТЬ ЕЩЕ РАЗ
            </a>
            <a href="#"
               onclick="document.getElementById('info_modal_container').style.display = 'none'"
               class="w3-cell w3-cell-middle w3-hover-yellow w3-border-lightgrey w3-border-top w3-border-right w3-center w3-padding-16"
                 style="border-bottom-right-radius: 16px;">
                ЗАКРЫТЬ
            </a>
        </div>
    </div>

</div>
{% endblock page_container %}

{% block bottom_custom_js %}
<script>
{% include  'igis_udm/modal_img_hospital_detail.js' %}

{% include  'igis_udm/ajax.js' %}

{% include  'igis_udm/my_utils.js' %}

{% if failure %}
{% include  'igis_udm/failure.js' %}
{% endif %}
</script>
{% endblock %}