{% extends "igis_udm/base.html" %}
{% block title %}Удмуртия. Запись на прием к врачу. Выбор города или района.{% endblock title %}
{% block meta_keywords %}Удмуртия, выбор города, запись к врачу, интернет{% endblock %}
{% block meta_description %}Удмуртия. Запись на прием к врачу. Выбор города или района.{% endblock meta_description %}

{% block page_container %}
<div class="w3-row-padding">
    <div class="w3-panel w3-white w3-text-teal w3-card w3-round">
        <h1>Выберите город или район где Вы хотите записаться на прием.</h1>
    </div>
    <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
            <ul class="w3-ul">
                {% for place in page_obj_1 %}
                <li><a href="{{ place.get_absolute_url }}">{{ place.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
            <ul class="w3-ul">
                {% for place in page_obj_2 %}
                   <li><a href="{{ place.get_absolute_url }}">{{ place.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
            <ul class="w3-ul">
                {% for place in page_obj_3 %}
                   <li><a href="{{ place.get_absolute_url }}">{{ place.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- Top advs block -->
{% include 'igis_udm/top_adv_block.html' %}
<!-- end of nop advs -->
{% endblock page_container %}
