{% if debug %}
    <div class="w3-container w3-margin-top">
        <div class="w3-blue" style="height:100px;margin:auto;width:90%">
        </div>
    </div>
{% else %}
    <div class="w3-container w3-margin-top" style="height:100px;margin:auto;">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- udm_med_bottom -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4042588755149706"
         data-ad-slot="5366797792"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
{% endif %}