<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internal server error!</title>
    <style>
        body {
            font-family: Verdana,sans-serif;
            background-color:rgb(241, 241, 241);
            color: #fff;
        }
        h1 {
            text-align: center;
            border-bottom: thin solid #fff;
            padding-bottom: 15px;
        }
        #container {
            max-width: 600px;
            margin: auto;
            padding: 15px;
            background-color: rgb(0, 150, 136);
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div id="container">
    <h1>Ошибка 500!</h1>
    <h2>Что-то пошло не так на нашем сервере.</h2>
    <h3>
        Вы можете попробовать <a href=".">перезагрузить</a> страницу.
        <br>
        Или воспользоваться одним из этих сервисов:
    </h3>
    <ul>
        <li><h4><a href="https://igis.ru/online" target="_blank">Ижевская Гео-Информационная система</a></h4></li>
        <li><h4><a href="https://uslugi.udmurt.ru/Doctor" target="_blank">Государственные услуги Удмуртской Республике</a></h4></li>
        <li><h4><a href="https://www.gosuslugi.ru/10066/1" target="_blank">Гос услуги РФ - Удмуртия</a></h4></li>
    </ul>
</div>

</body>
</html>